
.headerComponent{
    background-color:#3498DB !important;
    
     a{
         color:#ffffff;
         font-size: 35px;
     } 
     .iconright{
         padding: 15px;
         color:#ffffff;
         font-size: 20px;

     } 
    .navbarbg{
        margin: 0 auto;
        background-color:#3498DB;
      }
    .navbar{
        margin: 0 auto;
      
    }
    .nav li{
        display: inline-block;
        margin:10px;
    
    }
   
    .navbar a{
        float: left;
        font-size: 25px;
        margin: 5px;
       font-weight: bold;
    }
}

.tooltip {
    position: relative;
}

.tooltip a {
    text-decoration: none;
}

.tooltip li {
    list-style: none;
    border: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: white;
    color: #a7abc3;
    text-align: center;
    padding: 5px 5px;
    top: 90px;
    left: 90px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    box-shadow: 1px 2px;    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.divider {
    width: 90%;
    background-color: #eee;
    height: 1px;
    margin: 0 auto;
}