.topInfoContainer {
    display: flex;
    margin: 10px;
    padding: 20px;
    height: 50px;
    width: 100%;
}

.kpiInfoContainer {
    // margin: 10px;
    // padding: 20px;
    height: 50px;
    // width: 100%;
}

.tabsprops{
    margin:20px;
}